<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Flask App</title>
    <link rel="stylesheet" href="/static/styles/mainpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
    <nav>
        <div id="TN">
            <i class="fa fa-angle-down fa-3x"></i> <!-- <-- Hidden -->
            <h1>LOGO</h1>
            <a href="#" class="fa fa-angle-down fa-3x"></a>
        </div>
    </nav>
    <main id="elem3">
        <div class="one">
            <img src="https://images.unsplash.com/photo-1542723807-f773894614c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <h3>Heading 1</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non quasi consectetur veniam quod. Amet soluta nemo iste neque doloremque consequatur quam libero ad fuga, aliquid tempore natus cupiditate. Saepe, maiores.</p>
        </div>
        <div class="two">
            <img src="https://images.unsplash.com/photo-1542723807-f773894614c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <h3>Heading 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nihil dignissimos mollitia odit quae dolorum illo nobis, voluptates minus ipsa libero provident iusto obcaecati ipsum. Exercitationem facere illo aperiam velit.</p>
        </div>
        <div class="three">
            <img src="https://images.unsplash.com/photo-1542723807-f773894614c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <h3>Heading 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore corporis quae quaerat natus neque praesentium soluta, saepe autem recusandae! Quidem, maiores laborum. Amet dignissimos sit impedit velit voluptatum vitae.</p>
        </div>
    </main>
    <footer id="LowerPart">
        <section>
            <div class="Exp">
                <h1>Testing Out Designs</h1>
            </div>
        </section>
        <section>
            <div class="SM-Links">
                <p>Visit My Github Profile <a href="https://github.com/lionpower7" class="fa fa-github"></a></p>
                <p>Visit My Twitter Profile <a href="https://twitter.com/PythonX10" class="fa fa-twitter" id="blue"></a></p>
            </div>
        </section>
    </footer>
</body>
</html>